
.main {
    margin: 0;
    flex-direction: column;
    align-items: center;
    display: flex;
    
}

.title-container {      
    display: flex;
    flex-direction: column;
    transform: translateY(10vh);
    align-items: center;
    height: 40vh;
    color: rgb(73, 66, 66);
    font-size: clamp(16px, 3vw, 50px);
    font-family: 'Courier New';
    font-weight: bold;
    margin-bottom: 2rem;
}

.paragraph-text {
   align-items: center;
   display: flex;
   flex-direction: column;
   transform: translateY(-5vh);
   word-wrap: break-word;
   width: 100vh;
   color: rgb(73, 66, 66);
   font-size: clamp(16px, 2vw, 20px);
   font-family: 'Courier New';
   font-weight: bold;
   line-height:1.5;
}

.information-links {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 10vh;
    gap: 50px;
}